. {
    
}
header {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-evenly;
}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Delius';
    padding: 20px;
}

.side {
    display: flex;
    align-items: start;
    justify-content: cemter;
}

.tracker-form {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tracker-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tracker-form button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tracker-form button:hover {
    background-color: #0056b3;

}


